<div class="container-feature-info container-fluid">
  <!-- <app-pdf-generator></app-pdf-generator> -->
  <span class="view-switch">
    <button (click)="changeView()">
      <i *ngIf="dataView == 'chartsView'" class="fa fa-list"></i>
      <i *ngIf="dataView == 'tableView'" class="fa fa-bar-chart-o"></i>
    </button>
  </span>
  <div class="row mt-2">
    <div class="col">
      <button class="btn btn-primary" (click)="downloadReport()">
        <i class="fa fa-play-circle"></i>
        <span>
          Executive Report
        </span>
      </button>

    </div>
    <div class="col">
      <div class="d-flex justify-content-end show-btn">
        <button class="btn btn-primary" (click)="openHighLevelDBADasboard()">DBA view</button>
      </div>
    </div>
  </div>
  <div class="cost-reduction z-index-override">
    <i class="fa fa-dollar"></i>
    <strong class="mx-1">Potential License Cost Reduction: </strong>
    <span>${{summaryCostReduction}}</span>
  </div>
  <div *ngIf="dataView == 'chartsView'" style="width: 768px; overflow-x: auto;">
    <app-chart [color]="'CuriousBlue'" [title]="'Database migration score'" [titlePosition]="'left'" [seriesName]="'Score'" [chartItems]="costsItems"
      [yAxisName]="'Migration complexity scores'" (onItemSelectEvent)="onChartItemSelect($event)"></app-chart>
  </div>
  <div *ngIf="dataView == 'tableView'" class="dashboard-table">
    <app-datatable [source]="costsItems" [settings]="datatableSettings" (itemWasSelected)="onDatatableItemSelect($event)"></app-datatable>
  </div>
  <div class="d-flex justify-content-between mt-4">
    <div class="" style="width: 50%; max-width: 50%">
      <app-chart [color]="'Christi'" [title]="'Most expensive databases'" [seriesName]="'Cost'" [chartItems]="mostExpensiveItems"
        [yAxisName]="'Cost, $'" (onItemSelectEvent)="onChartItemSelect($event)"></app-chart>
    </div>
    <div class="" style="width: 50%; max-width: 50%">
      <app-chart [color]="'Red'" [title]="'Most complex databases'" [seriesName]="'Score'" [yAxisMax]="100" [chartItems]="mostComplexItems"
        [yAxisName]="'Migration complexity scores'" (onItemSelectEvent)="onChartItemSelect($event)"></app-chart>
    </div>
  </div>

</div>
